<div class="row" style="display:inline" *ngIf="showList">
    <div fxFlexFill fxLayoutAlign="end" class="PB10">

        <input class="docadd-filter" fxFlex="200px" fxLayout matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
    </div>
    <div fxFlexFill>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- ID Column -->
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"><a routerLink="{{element.link}}">{{element.ID}}</a> </td>
            </ng-container>
            <!-- DocTypeName Column -->
            <ng-container matColumnDef="DocTypeName">
                <th mat-header-cell *matHeaderCellDef> Loại văn bản </th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="{{element.link}}"> {{element.DocTypeName}} </a></td>
            </ng-container>

            <!-- Compendium Column -->
            <ng-container matColumnDef="Compendium">
                <th mat-header-cell *matHeaderCellDef> Trích yếu </th>
                <td mat-cell *matCellDef="let element"> <a routerLink="{{element.link}}">{{element.Compendium}} </a></td>
            </ng-container>

            <!-- UserCreateName Column -->
            <ng-container matColumnDef="UserCreateName">
                <th mat-header-cell *matHeaderCellDef> Người tạo </th>
                <td mat-cell *matCellDef="let element"><a routerLink="{{element.link}}">{{element.UserCreateName}} </a> </td>
            </ng-container>
            <!-- DateCreated Column -->
            <ng-container matColumnDef="DateCreated">
                <th mat-header-cell *matHeaderCellDef> Ngày tạo </th>
                <td mat-cell *matCellDef="let element"> <a routerLink="{{element.link}}">{{element.DateCreated}}</a> </td>
            </ng-container>
            <!-- UserOfHandle Column -->
            <ng-container matColumnDef="UserOfHandle">
                <th mat-header-cell *matHeaderCellDef> Người xử lý </th>
                <td mat-cell *matCellDef="let element"> <a routerLink="{{element.link}}">{{element.UserOfHandle}}</a> </td>
            </ng-container>
            <!-- Deadline Column -->
            <ng-container matColumnDef="Deadline">
                <th mat-header-cell *matHeaderCellDef> Hạn xử lý </th>
                <td mat-cell *matCellDef="let element"> <a routerLink="{{element.link}}">{{element.Deadline}} </a></td>
            </ng-container>
            <!-- StatusName Column -->
            <ng-container matColumnDef="StatusName">
                <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                <td mat-cell *matCellDef="let element"> <a routerLink="{{element.link}}">{{element.StatusName}}</a> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                <!-- (click)="selection.toggle(row)" -->
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>